# -------------------------
# Environment / Secrets
# -------------------------
.env
*.env
env/

# -------------------------
# OS / Editor Files
# -------------------------
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Virtual Env
newvenv/
.vscode/
