# -------------------------
# Environment / Secrets
# -------------------------
.env
*.env
env/
.env/

# -------------------------
# Python Build / Cache
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environments
# -------------------------
venv/
.venv/

# -------------------------
# OS / Editor Files
# -------------------------
.DS_Store
Thumbs.db
.vscode/

#-------------------------
# Coverage
#-------------------------
coverage/
.coverage

